/*
 * @Author: ext.zhangfengyuan ext.zhangfengyuan@jd.com
 * @Date: 2022-11-14 09:48:51
 * @LastEditors: ext.zhangfengyuan ext.zhangfengyuan@jd.com
 * @LastEditTime: 2022-11-14 09:50:04
 * @FilePath: \city-yanglao-H5\src\assets\font\font.css
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 */

@font-face {
    font-family: "YouSheBiao";
    src: url('YouSheBiaoTiHei-2.ttf');
    font-weight: normal;
    font-style: normal;
  }